/*
========================================================================================
    Nextflow Configuration File
========================================================================================
*/

// Global default params
params {
    // Max resource options
    max_memory = 128.GB
    max_cpus = 16
    max_time = 240.h
}

// Process-specific resource requirements
process {
    
    // Default resources
    cpus = 2
    memory = 8.GB
    time = 4.h
    
    errorStrategy = 'retry'
    maxRetries = 2
    
    // Process-specific settings
    withName: FASTQC {
        cpus = 2
        memory = 4.GB
        time = 2.h
    }
    
    withName: TRIM_GALORE {
        cpus = 2
        memory = 8.GB
        time = 4.h
    }
    
    withName: BWA_INDEX {
        cpus = 1
        memory = 16.GB
        time = 4.h
    }
    
    withName: BWA_ALIGN {
        cpus = 4
        memory = 16.GB
        time = 12.h
    }
    
    withName: MARK_DUPLICATES {
        cpus = 2
        memory = 16.GB
        time = 4.h
    }
    
    withName: INDEX_DEDUP_BAM {
        cpus = 2
        memory = 8.GB
        time = 2.h
    }
    
    withName: PHANTOMPEAKQUALTOOLS {
        cpus = 2
        memory = 16.GB
        time = 4.h
    }
    
    withName: CREATE_BIGWIG {
        cpus = 4
        memory = 16.GB
        time = 4.h
    }
    
    withName: MACS2_CALLPEAK {
        cpus = 2
        memory = 16.GB
        time = 4.h
    }
    
    withName: ANNOTATE_PEAKS {
        cpus = 2
        memory = 8.GB
        time = 2.h
    }
    
    withName: MULTIQC {
        cpus = 2
        memory = 8.GB
        time = 2.h
    }
}

// Execution profiles
profiles {
    
    // Standard profile (local execution)
    standard {
        process.executor = 'local'
    }
    
    // Docker profile
    docker {
        docker.enabled = true
        docker.runOptions = '--platform=linux/amd64 -u $(id -u):$(id -g)'
        
        process {
            withName: FASTQC {
                container = 'biocontainers/fastqc:v0.11.9_cv8'
            }
            withName: TRIM_GALORE {
                container = 'quay.io/biocontainers/trim-galore:0.6.7--hdfd78af_0'
            }
            withName: 'BWA_.*' {
                container = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:219b6c272b25e7e642ae3ff0bf0c5c81a5135ab4-0'
            }
            withName: MARK_DUPLICATES {
                container = 'broadinstitute/picard:latest'
            }
            withName: INDEX_DEDUP_BAM {
                container = 'quay.io/biocontainers/samtools:1.15--h1170115_1'
            }
            withName: PHANTOMPEAKQUALTOOLS {
                container = 'biocontainers/phantompeakqualtools:1.2.2--0'
            }
            withName: CREATE_BIGWIG {
                container = 'quay.io/biocontainers/deeptools:3.5.1--py_0'
            }
            withName: MACS2_CALLPEAK {
                container = 'quay.io/biocontainers/macs2:2.2.7.1--py38h0213d0e_3'
            }
            withName: ANNOTATE_PEAKS {
                container = 'quay.io/biocontainers/homer:4.11--pl526hc9558a2_3'
            }
            withName: MULTIQC {
                container = 'quay.io/biocontainers/multiqc:1.13--pyhdfd78af_0'
            }
        }
    }
    
    // Singularity profile
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$HOME/.singularity/cache"
        
        process {
            withName: FASTQC {
                container = 'https://depot.galaxyproject.org/singularity/fastqc:0.11.9--0'
            }
            withName: TRIM_GALORE {
                container = 'https://depot.galaxyproject.org/singularity/trim-galore:0.6.7--hdfd78af_0'
            }
            withName: 'BWA_.*' {
                container = 'https://depot.galaxyproject.org/singularity/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:219b6c272b25e7e642ae3ff0bf0c5c81a5135ab4-0'
            }
            withName: MARK_DUPLICATES {
                container = 'https://depot.galaxyproject.org/singularity/picard:2.27.4--hdfd78af_0'
            }
            withName: INDEX_DEDUP_BAM {
                container = 'https://depot.galaxyproject.org/singularity/samtools:1.15--h1170115_1'
            }
            withName: PHANTOMPEAKQUALTOOLS {
                container = 'https://depot.galaxyproject.org/singularity/phantompeakqualtools:1.2.2--0'
            }
            withName: CREATE_BIGWIG {
                container = 'https://depot.galaxyproject.org/singularity/deeptools:3.5.1--py_0'
            }
            withName: MACS2_CALLPEAK {
                container = 'https://depot.galaxyproject.org/singularity/macs2:2.2.7.1--py38h0213d0e_3'
            }
            withName: ANNOTATE_PEAKS {
                container = 'https://depot.galaxyproject.org/singularity/homer:4.11--pl526hc9558a2_3'
            }
            withName: MULTIQC {
                container = 'https://depot.galaxyproject.org/singularity/multiqc:1.13--pyhdfd78af_0'
            }
        }
    }
    
    // Conda profile
    conda {
        conda.enabled = true
        
        process {
            withName: FASTQC {
                conda = 'bioconda::fastqc=0.11.9'
            }
            withName: TRIM_GALORE {
                conda = 'bioconda::trim-galore=0.6.7'
            }
            withName: 'BWA_.*' {
                conda = 'bioconda::bwa=0.7.17 bioconda::samtools=1.15'
            }
            withName: MARK_DUPLICATES {
                conda = 'bioconda::picard=2.27.4'
            }
            withName: INDEX_DEDUP_BAM {
                conda = 'bioconda::samtools=1.15'
            }
            withName: PHANTOMPEAKQUALTOOLS {
                conda = 'bioconda::phantompeakqualtools=1.2.2'
            }
            withName: CREATE_BIGWIG {
                conda = 'bioconda::deeptools=3.5.1'
            }
            withName: MACS2_CALLPEAK {
                conda = 'bioconda::macs2=2.2.7.1'
            }
            withName: ANNOTATE_PEAKS {
                conda = 'bioconda::homer=4.11'
            }
            withName: MULTIQC {
                conda = 'bioconda::multiqc=1.13'
            }
        }
    }
    
    // SLURM cluster profile (UB-HPC)
    slurm {
        process.executor = 'slurm'
        process.queue = 'general-compute'
        process.clusterOptions = '--cluster=ub-hpc --qos=general-compute'
    }
    
    // SGE cluster profile
    sge {
        process.executor = 'sge'
        process.penv = 'smp'
        process.queue = 'all.q'
    }
}

// Workflow reporting
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/dag.svg"
}

// Manifest
manifest {
    name = 'ChIP-seq Pipeline'
    author = 'Your Name'
    homePage = 'https://github.com/tejsharm/chipseq-pipeline'
    description = 'Complete ChIP-seq analysis pipeline from FASTQ to peaks'
    version = '1.0.0'
    nextflowVersion = '>=21.10.0'
}